.navigationBar{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigationBar img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border:2px solid grey;
}
.links button{
    border: none;
    background-color: rgb(215, 211, 211);
    margin-right: 5px;
    width: 60px;
    padding: 5px;
    border-radius: 3px;
}
.links button:hover{
    background-color: grey;
}
.links a{
    text-decoration: none;
    color:black;
}
.links a:hover{
    text-decoration: underline;
}